.welcome {
  /* padding-top: 80px; */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.welcome h1 {
  color: #1e2259;
  font-weight: bold;
}